


.section-1 {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    height: 550px;
    width: 100%;
    justify-content: center;
    font-family: "Roboto", serif;
    margin: 0, auto;
    align-items: baseline;
    gap: 20px;
    flex-wrap: wrap;
    padding: 25px;
    
}


.headerlogo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    font-family: "Roboto", serif;
    width: 35%;
   
}

.navlink-1 {
    color: #E5E7EB;
    font-size: 18px;
    
}

.navlink-2 {
    color: #E5E7EB;
    font-size: 18px;
    
}

.navlink-3 {
    color: #E5E7EB;
    font-size: 18px;
    
}

.linebreak {
    height: 0;
    flex-basis: 100%;
}

.heroinfo {
    
    width: 25%;
    height: 500px;
    align-self: center;
    margin-top: 100px;
    margin-left: 20px;
    
}

.heroinfo p:nth-child(1) {
    
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    
}

.heroinfo p:nth-child(2) {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.heroinfo button {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 10px;
    width: 120px;
    height: 40px;
}

.first-section-img {
    width: 25%;
}

.first-section-img img {
    width: 525px;
    height:auto;
    margin-left: 90px;
    margin-top: 50px;
}

.section-2 {
    font-family: "Roboto", serif;
    height: 750px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.header-2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    height: 40px;
    flex-basis: 100%;
    margin: 50px;
    margin-top: -85px;
}


.imagerow-1 {
    width: 170px;
    height: 170px;
    margin-top: -600px;
}

.imagerow-2 {
    width: 170px;
    height: 170px;
    margin-top: -600px;
}   

.imagerow-3 {
    width: 170px;
    height: 170px;
    margin-top: -600px;
}

.imagerow-4 {
    width: 170px;
    height: 170px;
    margin-top: -600px;
}


.imagerow-1 img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 5px solid #3882f6;
    transition: transform .5s;
}

.imagerow-2 img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 5px solid #3882f6;
    transition: transform .5s;
}

.imagerow-3 img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 5px solid #3882f6;
    transition: transform .5s;
}

.imagerow-4 img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 5px solid #3882f6;
    transition: transform .5s;
}

.imagerow-1 img:hover, .imagerow-2 img:hover, .imagerow-3 img:hover, .imagerow-4 img:hover {
    transform: scale(1.5);
} 